@import '../../scss/main';

.productContainer {
  @include col(center, center);
  background-color: var(--white);
}

.content {
  width: 100%;
}

.header {
  @include row(center, center);
  max-width: 1500px;
  margin-top: 5rem;

  .image {
    width: 45%;
    height: 550px;

    background-color: #f8f9fa;
  }
}

.description {
  width: 55%;
  height: 550px;
  padding: 0 2rem;

  .title {
    @include row(flex-start, center);
    font-weight: bold;
    font-size: 2rem;
  }

  .categories {
    margin-top: 2rem;

    font-size: 0.8rem;
    text-transform: uppercase;
  }

  .availability {
    margin-top: 1rem;

    font-size: 0.8rem;
    text-transform: uppercase;
  }

  ul {
    margin-top: 1rem;
    padding: 0 1rem;

    line-height: 2;
  }

  .price {
    @include row(flex-start, flex-end);
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;

    background-color: #f2f5f7;

    .oldPrice {
      color: #999;
      font-size: 1rem;
      text-decoration: line-through;
    }

    .newPrice {
      margin-left: 1rem;

      color: var(--indigo);
      font-size: 2rem;
    }

    .amount {
      @include row(center, center);
      width: 5rem;

      height: 2rem;
      margin-left: 5rem;
      padding: 1rem;
      border: 1px solid var(--silver);
      border-radius: 1.5rem;
      &:focus {
        outline: none;
      }
    }

    .add {
      @include row(center, center);
      width: fit-content;
      height: 2rem;
      margin-left: 3rem;
      padding: 1rem;
      border: 1px solid var(--indigo);
      border-radius: 1.5rem;

      color: var(--white);
      font-weight: bold;
      font-size: 0.7rem;
      text-transform: uppercase;

      background-color: var(--indigo);

      cursor: pointer;

      &:hover {
        color: var(--indigo);

        background-color: transparent;
      }
    }
  }
}

.listButton {
  @include row(flex-start, center);

  button {
    @include button-icon;
    @include row(flex-start, center);
    height: 3rem;
    margin-top: 2rem;
    margin-left: 2rem;

    &:first-child {
      margin-left: 0;
    }

    .icon {
      @include size(40px, 40px);
      @include row(center, center);
      border: 1px solid var(--silver);
      border-radius: 50%;

      color: var(--indigo);
      font-weight: 100;
    }

    .textIcon {
      width: fit-content;
      margin-left: 1rem;

      text-transform: capitalize;
    }

    &:hover {
      .icon {
        color: var(--white);

        background-color: var(--indigo);
      }
    }
  }
}

.imageBottom {
  @include row(flex-start, center);
  width: 100%;
  max-width: 1500px;
}

.left {
  @include row(center, center);
  width: 45%;
  height: 200px;

  .circle {
    @include row(center, center);
    @include size(fit-content, fit-content);
    margin-left: 1rem;
    padding: 1rem;
    border: 1px solid var(--white);
    border-radius: 50%;

    box-shadow: 0 0 0 3px var(--silver);
    cursor: pointer;
  }

  img {
    width: 4rem;
    height: 4rem;
  }
}

.body {
  @include col(center, center);
  width: 100%;
  margin-bottom: 5rem;

  .nav {
    @include row(center, center);
    width: 100%;
    padding: 0 12rem;

    background-color: #f8f9fa;

    button {
      width: 100%;
      height: 4rem;
      border: 0;

      font-weight: bold;
      font-size: 1rem;
      text-transform: uppercase;

      background-color: transparent;
      cursor: pointer;
    }

    .active {
      border-top: 4px solid var(--indigo);
      border-radius: 5px;

      background-color: var(--white);
    }
  }
}

.center {
  width: 100%;
  max-width: 1500px;
  padding: 0 8rem;
}

.bodyDesc {
  @include col(center, center);
  width: 100%;
  border-color: var(--white);

  .titleDesc {
    @include row(center, center);
    width: 100%;
    padding: 3rem;

    font-weight: bold;
    font-size: 2rem;
  }

  .text {
    line-height: 2;
  }
}

.mainFeature {
  width: 100%;
  margin-top: 2rem;

  .main {
    font-weight: bold;
    font-size: 1.5rem;
  }
}

.table {
  width: 100%;
  margin-top: 2rem;

  color: #808080;

  .row {
    @include row(flex-start, center);
    width: 100%;
    padding: 0.5em;
    .col {
      width: 100%;
    }

    &:nth-child(odd) {
      background-color: #f8f9fa;
    }
  }
}

.relatedProduct {
  @include col(flex-start, center);
  width: 100%;
  padding-bottom: 5rem;

  background-color: #f8f9fa;
}

.relatedTitle {
  @include row(flex-start, center);
  margin-top: 10rem;

  font-size: 2rem;
}

.productList {
  @include row(center, center);
  margin-top: 2rem;

  .item {
    margin-right: 1rem;
  }
}

.snackbar {
  width: 10rem;
}
