@import '../../scss/main';

.hotDealContainer {
  @include col;
  width: 100%;
  height: 100%;
  margin-top: 2rem;

  background-color: #fff;

  .hotDealTitle {
    margin-bottom: 3rem;

    font-weight: bold;
    font-size: 2rem;
  }
}

.hotDealContent {
  @include row;
  height: 100%;

  .hotDealNav {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;

    .iconNav {
      @include row(flex-end, center);
      @include button-icon;
      margin-bottom: 1rem;

      font-size: medium;

      cursor: pointer;

      span {
        margin-right: 2rem;
      }
    }
  }

  .listProduct {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 85%;
    height: 100%;
    margin-top: 0;

    .productItem {
      flex-basis: 33.33%;
    }
  }
}

.active {
  color: #595bd4;
}
