@import '../../scss/main';

.hotDealContainer {
  @include col;
  width: 100%;
  height: 100%;
  margin-top: 2rem;

  background-color: #fff;

  .hotDealTitle {
    margin-bottom: 3rem;

    font-weight: bold;
    font-size: 2rem;
  }
}

.hotDealContent {
  @include row;
  height: 100%;
  @include tablet {
    @include col;
  }
  @include mobile {
    @include col;
  }
  @include x-mobile {
    @include col;
  }

  .hotDealNav {
    @include col(flex-end, flex-end);
    width: 15%;
    height: 100%;
    @include tablet {
      @include row(center, center);
      width: 100%;
      margin-bottom: 1rem;
    }

    @include mobile {
      @include row(center, center);
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 1rem;
    }
    @include x-mobile {
      @include row(center, center);
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 1rem;
    }
    .iconNav {
      @include row(flex-end, center);
      @include button-icon;
      margin-bottom: 1rem;

      font-size: medium;

      cursor: pointer;
      @include tablet {
        @include row(center, center);
      }
      @include mobile {
        flex-basis: 33.33%;
      }
      @include x-mobile {
        flex-basis: 50%;
      }

      span {
        margin-right: 2rem;
      }
    }
  }

  .listProduct {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 85%;
    height: 100%;
    margin-top: 0;
    @include tablet {
      width: 100%;
      padding: 0 1rem;
    }
    @include mobile {
      width: 100%;
    }

    .productItem {
      flex-basis: 33.33%;
      @include mobile {
        flex-basis: 50%;
      }
      @include x-mobile {
        flex-basis: 100%;
      }
    }
  }
}

.active {
  color: #595bd4;
}
