@import '../../scss/main';

.priceSlider {
  .title {
    margin-bottom: 2rem;

    font-weight: bold;
  }

  .price {
    @include row(space-between, center);

    button {
      padding: 0.5rem;
      border: 1px solid rgba(89, 91, 212, 1);
      border-radius: 2px;

      color: #fff;
      font-weight: 400;

      background-color: rgba(89, 91, 212, 1);
    }
  }
}
