@import '../../scss/main';

.trendingSectionContainer {
  @include row(center, center);
  padding-bottom: 4rem;

  background-color: var(--white);

  .center {
    width: 100%;
    max-width: 1500px;
  }

  .lastChance {
    @include col(center);
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;

    background-color: var(--white);
  }
}

.lastChanceTitle {
  color: #444;
  font-weight: bold;

  strong {
    font-size: 2rem;
  }
}

.productList {
  @include row(center, center);
  margin-top: 2rem;
  @include tablet {
    flex-wrap: wrap;
  }
  @include mobile {
    flex-wrap: wrap;
  }
  @include x-mobile {
    flex-wrap: wrap;
  }

  .product {
    // width: 100%;
    @include tablet {
      flex-basis: 50%;
    }
    @include mobile {
      flex-basis: 50%;
    }
    @include x-mobile {
      flex-basis: 100%;
    }
  }
}

.trending {
  height: 1000px;
  @include tablet {
    height: 1300px;
  }
  @include mobile {
    height: fit-content;
  }
  @include x-mobile {
    height: fit-content;
  }
}
