@import '../../scss/main';

.toolbar {
  @include row(space-between, center);
  background-color: transparent;

  .left {
    @include row(center, center);

    .sort {
      height: 2.5rem;
      padding: 0 1rem;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 2rem;

      color: #444;

      background-color: #fff;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }

    .button {
      @include size(7rem, 2.5rem);
      @include row(space-around, center);
      margin-left: 2rem;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 2rem;

      color: #444;
      font-size: small;

      background-color: transparent;
      cursor: pointer;

      &:hover {
        border-color: rgba(89, 91, 212, 1);

        color: #fff;

        background-color: rgba(89, 91, 212, 1);
      }
    }
  }

  .right {
    @include row(center, center);

    button {
      border: 0;

      color: #e5e5e5;

      background-color: transparent;

      &:hover {
        color: #000;
      }
    }

    .show {
      height: 2.5rem;
      padding: 0 1rem;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 2rem;

      color: #444;

      background-color: #fff;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }
  }
}
