.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    .sort {
      height: 2.5rem;
      padding: 0 1rem;
      border: 1px solid rgba(0, 0, 0, 0.1);
      color: #444444;
      border-radius: 2rem;
      background-color: #fff;
    }
    .button {
      margin-left: 2rem;
      height: 2.5rem;
      width: 7rem;
      font-size: small;
      background-color: transparent;
      border: 1px solid rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: #444444;
      border-radius: 2rem;
    }
  }
  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      background-color: transparent;
      border: none;
      color: #e5e5e5;
      &:hover {
        color: black;
      }
    }
    .show {
      height: 2.5rem;
      padding: 0 1rem;
      border: 1px solid rgba(0, 0, 0, 0.1);
      color: #444444;
      border-radius: 2rem;
      background-color: #fff;
    }
  }
}
