@import '../../scss/main';

.homeContainer {
  @include col;
  width: 100%;
}

div {
  width: 100%;
}

.latestProduct {
  @include row(center, center);
  width: 100%;
}

.center {
  @include row(center, center);
  margin-top: 2rem;
}

.hotDeal {
  @include row(center, center);
  max-width: 1500px;
}

.viewed {
  @include row(center, center);
  max-width: 1500px;
}

.imageList {
  @include row(center, center);
  max-width: 1500px;

  .image {
    width: 100%;

    img {
      width: 100%;
    }
  }
}

.donors {
  @include row(center, center);
  width: 100%;
  max-width: 1500px;
  margin-top: 5rem;
}
