.category {
  .product {
    display: flex;
    align-items: center;
    height: 3rem;
    font-weight: bold;
  }

  ul {
    padding: 0;
    list-style: none;
    cursor: pointer;
  }
}

.productItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .productItemi + .productItemi {
    border-top: 0;
  }

  .left {
    display: flex;
    align-items: center;
  }

  .right {
    display: flex;
    justify-content: flex-end;

    .buttonAdd {
      color: rgba(0, 0, 0, 0.1);
    }
  }

  button {
    margin-right: 1rem;
    padding: 0;
    border: 0;
    background-color: transparent;
    color: rgba(89, 91, 212, 1);
    font-size: xx-large;
    cursor: pointer;
  }

  span {
    font-size: medium;
  }

  &:hover > .left > span {
    color: rgba(89, 91, 212, 1);
  }
}
