@import '../../scss/main';

.productContainer {
  @include size(100%, 100%);
  position: relative;

  background-color: var(--white);
}

.col {
  @include col(center, center);
  height: 100%;

  color: inherit;
  text-decoration: none;
}

.row {
  @include row(center, center);
  color: inherit;
  text-decoration: none;

  img {
    width: 40%;
  }
}

.productRow {
  @include size(100%, 100%);
  position: relative;

  padding-top: 1rem;
  padding-right: 2rem;

  img {
    width: 40%;
  }
}

img {
  width: 90%;
  height: 90%;
}

.title {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
  padding-left: 1rem;

  font-weight: bold;
  font-size: 0.9rem;
}

.price {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
  padding-left: 1rem;

  color: var(--indigo);
  font-weight: bold;
  font-size: 0.9rem;

  span {
    margin-right: 0.5rem;

    color: #808080;
    font-size: 0.8rem;
    text-decoration: line-through;
  }
}

.sale {
  position: absolute;
  top: 0;
  right: 0;

  width: fit-content;
  padding: 0.2rem 1rem;

  color: var(--white);
  font-weight: 300;

  background-color: #77a464;
}

.button {
  position: absolute;
  top: 2rem;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;

  background-color: var(--indigo);

  button {
    border: 0;

    color: var(--white);
    font-size: small;

    background-color: transparent;
    cursor: pointer;
    &:active {
      color: #303030;

      box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
      transform: scale(0.98);
    }
  }
}

.box {
  padding: 1rem;
}

.timer {
  height: 5rem;
}

.link {
  color: inherit;
  text-decoration: none;
}

.snackbar {
  width: 10rem;
}

.imageContainer {
  position: relative;

  width: 100%;
  padding-top: 100%;
}
.image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
