@import '../../scss/main';

.productContainer {
  @include size(100%, 100%);
  position: relative;

  background-color: #fff;
}

.col {
  @include col(flex-start, center);
  height: 100%;

  color: inherit;
  text-decoration: none;
}

.row {
  @include row(center, center);
  color: inherit;
  text-decoration: none;

  img {
    width: 40%;
  }
}

.productRow {
  @include size(100%, 100%);
  position: relative;

  padding-top: 1rem;
  padding-right: 2rem;

  img {
    width: 40%;
  }
}

img {
  width: 90%;
  height: 90%;
}

.title {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
  padding-left: 1rem;

  font-weight: bold;
  font-size: 0.9rem;
}

.price {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
  padding-left: 1rem;

  color: rgba(89, 91, 212, 1);
  font-weight: bold;
  font-size: 0.9rem;

  span {
    margin-right: 0.5rem;

    color: #808080;
    font-size: 0.8rem;
    text-decoration: line-through;
  }
}

.sale {
  position: absolute;
  top: 0;
  right: 0;

  width: fit-content;
  padding: 0.2rem 1rem;

  color: #fff;
  font-weight: 300;

  background-color: #77a464;
}

.button {
  position: absolute;
  top: 2rem;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;

  background-color: rgba(89, 91, 212, 1);

  button {
    border: 0;

    color: #fff;
    font-size: small;

    background-color: transparent;
  }
}

.box {
  padding: 1rem;
}

.timer {
  height: 5rem;
}

.link {
  color: inherit;
  text-decoration: none;
}
