.product {
  position: relative;
  display: flex;
  flex: 1 0 20%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 24%;
  margin-top: 2rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #fff;

  img {
    width: 90%;
  }

  .title {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    font-weight: bold;
    font-size: 0.9rem;
  }

  .price {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    color: rgba(89, 91, 212, 1);
    font-size: 1.5rem;

    span {
      margin-right: 0.5rem;
      color: #808080;
      font-size: 0.8rem;
      text-decoration: line-through;
    }
  }

  .sale {
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    padding: 0.2rem 1rem;
    background-color: #77a464;
    color: #fff;
    font-weight: 300;
  }

  .button {
    position: absolute;
    top: 2rem;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: rgba(89, 91, 212, 1);

    button {
      border: 0;
      background-color: transparent;
      color: #fff;
      font-size: small;
    }
  }
}
