@import '../../scss/main';

.header {
  .listLink {
    @include row(space-between, center);
    height: 2rem;
    padding: 0 10%;

    .left {
      @include row(center, center);
      color: #686767;
      font-size: small;

      button {
        @include button-icon;
        color: #808080;
        font-style: italic;
        font-size: small;
      }

      span {
        margin-left: 3rem;
      }
    }

    .right {
      color: #808080;
      font-size: small;

      span {
        margin: 0 0.5rem;
      }
    }
  }

  .seperate {
    @include size(100%, 0);
    border-top: 1px solid #ccc;
  }

  .headerBar {
    @include row(space-between, center);
    height: 8rem;
    padding: 0 10%;

    button {
      border: 0;
      background-color: transparent;
      color: #575757;
      font-weight: 100;
    }
  }

  .searchBar {
    @include row(space-between, center);
    overflow: hidden;
    width: fit-content;
    height: 3rem;
    padding-left: 0.5rem;
    border: 1px solid #e6e6e6;
    border-radius: 18px;
    color: #555;

    input {
      @include size(20rem, 2rem);
      border: 0;
      border-right: 1px solid #e6e6e6;

      &:focus {
        outline: none;
      }
    }

    .searchButton {
      @include size(4rem, 100%);
      background-color: rgba(89, 91, 212, 1);
      color: #fff;
    }
  }

  .features {
    @include row(flex-end, center);
    width: fit-content;

    button {
      margin: 0 1rem;
    }
  }

  .nav {
    @include size(100%, 3rem);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: rgba(41, 47, 56, 1);
    cursor: pointer;
  }

  .navBar {
    @include row(center, flex-end);
    width: 100%;
    max-width: 1500px;
    height: 100%;

    button {
      border: 0;
      background-color: transparent;
      color: #fff;
    }

    .categories {
      @include size(25%, 120%);
      @include row(space-between, center);
      padding: 0 1rem;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      background-color: rgba(89, 91, 212, 1);
      color: #fff;
      font-size: 0.8rem;

      button {
        border: 0;
        background-color: transparent;
        color: #fff;
      }
    }
  }
}

.listButton {
  @include row(space-between, flex-start);
  @include size(75%, 100%);

  margin-left: 2rem;
  cursor: pointer;

  .boxContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    &:hover .buttonLink {
      background-color: rgba(89, 91, 212, 1);
    }
  }

  .buttonLink {
    // @include row(center, center);
    @include size(100%, 100%);
    font-size: 1rem;
    cursor: pointer;
  }

  .dropBox {
    position: relative;
  }
}
