@import '../../scss/main';

.header {
  .seperate {
    @include size(100%, 0);
    border-top: 1px solid #ccc;
  }

  .headerBar {
    @include row(space-between, center);
    height: 8rem;
    padding: 0 10%;
    @include tablet {
      padding: 0;
    }

    button {
      border: 0;

      color: #575757;
      font-weight: 100;

      background-color: transparent;
    }
  }

  .searchBar {
    @include row(space-between, center);
    width: fit-content;
    height: 3rem;
    padding-left: 0.5rem;
    border: 1px solid #e6e6e6;
    border-radius: 18px;
    overflow: hidden;

    color: #555;

    @include mobile {
      display: none;
    }

    input {
      @include size(20rem, 2rem);
      border: 0;
      border-right: 1px solid #e6e6e6;

      &:focus {
        outline: none;
      }
    }

    .searchButton {
      @include size(4rem, 100%);
      color: #fff;

      background-color: rgba(89, 91, 212, 1);
    }
  }

  .features {
    @include row(flex-end, center);
    width: fit-content;

    button {
      margin: 0 1rem;

      cursor: pointer;
    }
  }

  .nav {
    @include size(100%, 3rem);
    display: flex;
    align-items: flex-end;
    justify-content: center;

    background-color: rgba(41, 47, 56, 1);
    cursor: pointer;
  }

  .navBar {
    @include row(flex-start, flex-end);
    width: 100%;
    max-width: 1500px;
    height: 100%;

    .categories {
      @include size(25%, 120%);
      @include row(space-between, center);
      padding: 0 1rem;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      color: #fff;
      font-size: 0.8rem;

      background-color: rgba(89, 91, 212, 1);
      @include tablet {
        width: fit-content;
      }
      @include mobile {
        width: fit-content;
      }
      @include x-mobile {
        width: fit-content;
      }

      button {
        border: 0;

        color: #fff;

        background-color: transparent;
      }
    }
  }
}

.listButton {
  @include row(space-between, flex-start);
  @include size(75%, 100%);

  margin-left: 2rem;

  cursor: pointer;
  @include tablet {
    width: 100%;
    margin-left: 1rem;
  }
  @include mobile {
    width: 100%;
    margin-left: 0.5rem;
  }
  @include x-mobile {
    width: 100%;
    margin-left: 0.5rem;
  }

  .boxContainer {
    @include button-icon;
    position: relative;

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;

    &:hover .buttonLink {
      background-color: rgba(89, 91, 212, 1);
    }
  }

  .active {
    background-color: rgba(89, 91, 212, 1);
  }

  .buttonLink {
    @include size(100%, 100%);
    color: #fff;
    font-size: 1rem;

    cursor: pointer;
  }

  .dropBox {
    position: relative;
  }
}

.categoriesText {
  @include tablet {
    display: none;
  }
  @include mobile {
    display: none;
  }
  @include x-mobile {
    display: none;
  }
}

.listLink {
  @include row(space-between, center);
  height: 2rem;
  padding: 0 10%;
  @include mobile {
    padding: 0;
  }
  @include x-mobile {
    padding: 0;
  }

  .left {
    @include row(flex-start, center);
    color: #686767;
    font-size: small;

    button {
      @include button-icon;
      color: #808080;
      font-size: small;
      font-style: italic;
    }

    span {
      margin-left: 3rem;
      @include mobile {
        margin: 0;
      }
      @include x-mobile {
        margin: 0;
      }
    }
  }

  .right {
    @include row(flex-end, center);
    color: #808080;
    font-size: small;

    span {
      margin: 0 0.5rem;
    }
  }
}
