@import '../../scss/main';

// placeholder
%block {
  margin-top: 2rem;
  padding: 1rem;

  background-color: rgba(255, 255, 255, 0.5);
}

//selector

.sideBar {
  padding: 0 1rem 0 2rem;

  background-color: #f8f9fa;
}

.title {
  margin-bottom: 2rem;

  font-weight: bold;
}

.brand {
  @extend %block;
  border: 0;

  cursor: pointer;

  ul {
    @include ul-no-padding;
  }
}

.brandItem {
  margin-bottom: 0.5rem;

  &::before {
    margin-right: 0.5rem;

    content: '⇨';
  }

  span {
    &:hover {
      text-decoration: underline;
    }
  }
}

.color {
  @extend %block;

  ul {
    @include ul-no-padding;

    li {
      display: flex;
      height: 2rem;

      cursor: pointer;

      .check {
        @include row(center, center);
        @include size(1rem, 1rem);
        margin-right: 0.5rem;
        border: 1px solid #cacaca;
        border-radius: 2px;

        color: #fff;
      }

      &:hover > .check {
        background-color: rgba(89, 91, 212, 1);
      }

      input {
        margin-right: 1rem;
      }
    }
  }
}

.price {
  @extend %block;
}

.topRate {
  @extend %block;

  .titleTopRate {
    margin-bottom: 2rem;

    font-weight: bold;
  }

  .product {
    @include row(space-between, center);
    margin-bottom: 1rem;

    .info {
      @include col;

      .title {
        margin-bottom: 1rem;

        font-weight: normal;
      }

      .money {
        color: rgba(89, 91, 212, 1);
        font-weight: 500;
        font-size: 1.3rem;
      }
    }

    .imgProduct {
      img {
        @include size(90px, 90px);
      }
    }
  }
}
