@import '../../scss/main';

.footerContainer {
  width: 100%;
}

.info {
  @include row(center, center);
  @include size(100%, 8rem);
}

.left {
  @include row(center, center);
  @include size(50%, 100%);
  padding: 2rem;

  color: #fff;

  background-color: #3b4466;

  .contact {
    @include row(center, center);
    @include size(100%, 100%);

    img {
      height: 2rem;
      margin-right: 1rem;
    }

    .record {
      display: flex;
      flex-direction: column;
      justify-content: center;

      span {
        margin-bottom: 0.5rem;
      }

      .title {
        font-weight: bold;
      }
    }
  }
}

.right {
  @include row(center, center);
  @include size(50%, 100%);
  padding-left: 1rem;

  background-color: rgba(89, 91, 212, 1);

  input {
    @include size(30rem, 3rem);
    margin-right: 2rem;
    border: 1px solid #fff;
    border-radius: 1.5rem;

    &:focus {
      outline: none;
    }

    &::placeholder {
      padding: 1rem;

      color: #000;
      font-size: 1rem;
    }
  }

  button {
    height: 3rem;
    padding: 1rem 3rem;
    border: 1px solid #fff;
    border-radius: 1.5rem;

    color: #fff;

    background-color: transparent;
  }
}

.more {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 14rem;
  margin: 5rem 0;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  margin: 0 1rem;

  .title {
    margin-bottom: 1rem;

    font-weight: bold;
  }

  ul {
    padding-left: 0.5rem;

    list-style: none;

    li {
      margin: 1rem 0;

      color: rgba(41, 47, 56, 1);
      text-decoration: underline;

      cursor: pointer;

      &::before {
        display: inline-block;
        width: 1rem;
        margin-left: -1rem;

        color: rgba(89, 91, 212, 1);
        font-weight: bold;

        content: '\2022';
      }
    }
  }

  .quickContact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20rem;
    height: 100%;

    input {
      @include size(100%, 2rem);
      margin-bottom: 0.5rem;
      padding: 1rem;
      border: 1px solid #e6e6e6;

      &:focus {
        outline: none;
      }
    }

    textarea {
      @include size(100%, 6rem);
      margin-bottom: 0.5rem;
      padding: 1rem;
      border: 1px solid #e6e6e6;

      resize: none;

      &:focus {
        outline: none;
      }
    }

    button {
      @include size(50%, 2rem);
      border: 0;
      border-radius: 1rem;

      color: #fff;

      background-color: rgba(89, 91, 212, 1);
    }
  }

  .contactRow {
    @include row(flex-start, center);
    margin-bottom: 1rem;

    button {
      margin-right: 0.5rem;
      border: 1px solid rgba(89, 91, 212, 1);
      border-radius: 10px;

      color: #fff;
      font-size: small;

      background-color: rgba(89, 91, 212, 1);
    }

    span {
      margin: 0;

      color: rgba(102, 102, 102, 1);
      font-weight: normal;
    }
  }
}

.copyRight {
  @include col(center, center);
  padding: 2rem;

  background-color: #f7f8f9;

  .title {
    margin-bottom: 1rem;

    color: rgba(102, 102, 102, 1);
    font-size: small;
  }

  img {
    width: fit-content;
    height: fit-content;
  }
}
