.app {
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: '#f8f9fa';

    .displayBoard {
      display: flex;
      justify-content: center;
      width: 100%;
      max-width: 1500px;
    }
  }
}
