* {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --indigo: rgb(89, 91, 212);
  --charade: rgb(41, 47, 56);
  --background-backdrop: rgba(0, 0, 0, 0.75);
  --white: #fff;
  --silver: #ccc;
  --red: #f00;
  --main-background: #f4f6f7;
  --light-gray: rgb(68, 68, 68);
  --black: #000;
  --fiord: #3b4466;
  --mercury: #e6e6e6;
}

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
