@import '../../scss/main';

.trendingContainer {
  @include row(space-between, flex-start);
  width: 100%;
  height: 100%;
  margin-top: 2rem;

  .trendingTitle {
    padding: 1rem 0;

    font-weight: bold;
    font-size: 2rem;
  }
}

.productContainer {
  @include row(flex-start, stretch);
  flex-wrap: wrap;

  .productItem {
    flex-basis: 25%;
    border: 1px solid #ccc;
    @include tablet {
      flex-basis: 33.33%;
    }
    @include mobile {
      flex-basis: 50%;
      height: fit-content;
    }
    @include x-mobile {
      flex-basis: 100%;
      height: fit-content;
    }
  }
}

.trendingDeal {
  @include col(flex-start, flex-end);
  width: 75%;
  height: 100%;
  @include mobile {
    width: fit-content;
  }
  @include x-mobile {
    width: 100%;
  }
}

.dealOfDay {
  @include size(25%, 100%);
  @include col(center, flex-start);
  min-width: 250px;
  max-height: 700px;
  margin-left: 1rem;
  padding-top: 2rem;

  background-color: #f7f9fa;
  @include tablet {
    margin-top: 20%;
  }
  @include mobile {
    display: none;
  }
  @include x-mobile {
    display: none;
  }

  .dealTitle {
    @include row(center, center);
    height: 10%;

    font-weight: bold;
    font-size: 2rem;
  }

  .countdown {
    width: 80%;
    height: 10%;
  }

  .dealProduct {
    width: 100%;
    height: 50%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .price {
    @include col(flex-start, center);
    @include size(100%, 30%);

    div {
      @include row(center, center);
    }

    .title {
      font-weight: bold;
      font-size: 1.2rem;
    }

    .oldPrice {
      margin-top: 1rem;

      color: #808080;
      font-size: 0.8rem;
      text-decoration: line-through;
    }

    .newPrice {
      margin-top: 0.5rem;

      color: rgba(89, 91, 212, 1);
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
}

.listProduct {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}

.nav {
  @include row(flex-start, center);
  width: 100%;
  padding: 2rem 0;
  @include mobile {
    flex-wrap: wrap;
  }
  @include x-mobile {
    flex-wrap: wrap;
  }

  button {
    @include button-icon;
    width: fit-content;
    margin-right: 3rem;

    font-weight: bold;
    font-size: medium;

    cursor: pointer;
    @include mobile {
      flex-basis: 50%;
      margin-right: 0;
      margin-bottom: 1rem;
    }
    @include x-mobile {
      flex-basis: 50%;
      margin-right: 0;
      margin-bottom: 1rem;
    }

    &:last-child() {
      margin-right: 0;
    }
  }
}

.active {
  color: #595bd4;
}

.content {
  @include row(space-between, center);
}

.loading {
  @include row(center, center);
  width: 100%;
  height: 100%;
}
